[Unit]
Description=Face renderer and API
After=systemd-udev-trigger.service

[Service]
Type=exec
User=pete
SupplementaryGroups=video render input
WorkingDirectory=/home/pete/face
Environment=LD_LIBRARY_PATH=/home/pete/face
ExecStart=/home/pete/face/face --urls http://127.0.0.1:5000
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target